dist
.solid
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env.keys

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# SQlite
local.db

# Emails
src/email_templates/_build

# Cloudflare wrangler
.wrangler
.dev.vars

