@tailwind base;
@tailwind components;
@tailwind utilities;

.diagonal-pattern-bg {
  background-image: repeating-linear-gradient(
    45deg,
    var(--fallback-b1, oklch(var(--b1))),
    var(--fallback-b1, oklch(var(--b1))) 13px,
    var(--fallback-b2, oklch(var(--b2))) 13px,
    var(--fallback-b2, oklch(var(--b2))) 14px
  );
  background-size: 40px 40px;
}

html:has(.drawer-toggle:checked) {
  /* Disable scrollbar gutter due to Chrome bug: https://stackoverflow.com/questions/77787580/width-of-screen-is-not-calculating-correctly-when-using-scrollbar-gutter-stable */
  scrollbar-gutter: auto !important;
}
